@import "tailwindcss";
/* 
 body {
          font-family: 'DM Sans', sans-serif;
          background: var(--cream);
          color: var(--ink);
          overflow-x: hidden;
        } */
html{
  scroll-behavior: smooth;
}
ul,a{
  list-style: none;
}